<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center">
    <h1><%= @restaurant.name %></h1>
    <%= link_to "Add Review", new_restaurant_review_path(@restaurant), class: 'btn btn-primary'  %>
  </div>
  <hr>

  <h5 class="mb-4"><strong>Address:</strong> <%= @restaurant.address %></h5>
  <h5 class="mb-4"><strong>Category:</strong> <%= @restaurant.category %></h5>
  <h5 class="mb-4"><strong>Phone Number:</strong> <%= @restaurant.phone_number %></h5>
  <hr>
  <h2>Ratings</h2>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item m-3">
        <p class="font-italic">"<%= review.content %>"</p>
        <hr>
        Rating: <%= review.rating %>/5
      </li>
    <% end %>
  </ul>

  <%= link_to "Back to list", restaurants_path, class: "btn btn-secondary"  %>
</div>
